<%= render 'shared/header', title: "Timeline" %>

<% @statuses.each do |status| %>
  <div class="clearfix">
    <div class="panel panel-default col-sm-6">
      <div class="panel-body">
        <p><%= status.body %></p>
        <p>by <%= link_to status.creator.username, user_path(status.creator) %> at <strong><%= status.created_at %></strong></p>
      </div>
    </div>
  </div>
<% end %>
